@page "/"

<MudPaper Height="100%" Width="100%" Class="mt-4" Outlined="false" Elevation="0">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid Spacing="1">
            <MudItem sm="12">
                <h1>Yeni məqalələr</h1>
            </MudItem>
        </MudGrid>
        <MudDivider DividerType="DividerType.FullWidth"></MudDivider>
    </MudContainer>
</MudPaper>

@code {

}
